.about
  clearfix()

  .avatar
    float: left
    width: 300px
    margin-top: 15px
    padding: 9px 1.5rem 1rem 0

  .descriptor
    display: block
    font-size: 1.8rem

  @media $small-screen
    .descriptor
      font-size: 1.4rem
      min-height: 56px
    .avatar
      float: none
      margin: 0 auto
      padding: 0
      width: 75%
      display: block
