header, footer
  font-family: $font-header
  font-weight: bold
  font-size: 0.8em
  text-transform: uppercase
  padding: 0.5rem 0

  a
    color: $text-color

    &:last-child
      padding-right: 0

header
  border-bottom: 2px solid $hr-color
  margin-bottom: 2rem

footer
  border-top: 2px solid $hr-color
  margin-top: 2rem

.triangles
  float: right
  height: 0.8em
