a.project-link
  display: block
  color: $text-color

  h3
    display: inline-block
    margin-bottom: 0

  p
    margin-top: 0

  &:hover
    color: $text-color

    h3
      text-decoration: underline

.project-date
  display: inline-block
  font-family: $font-header
  font-size: 0.6em
  font-weight: bold
  text-transform: uppercase;
  margin-left: 5px
