.project
  margin-left: auto
  margin-right: auto
  max-width: 800px
  width: 100%

  h4
    clearfix()

  .media
    float: right

  iframe
    width: 100%
    border: 0

  .instagram-media
    margin-left: auto !important
    margin-right: auto !important

.project-title
  font-size: 3em

.project-site
  float: right

.hero
  height: 500px
  width: 100%
  background-size: cover
  background-position: 50% 50%

  @media $small-screen
    height: 300px
