.social
  float: right

  a
    padding-left: 0.5rem
    padding-right: 0.5rem

  @media $small-and-medium-screen
    float: none
    margin: 1rem 0

    a
      padding: 0.5rem
      display: inline-block
