.turnUp
  display: inline
  position: relative
  perspective: 300px

  span
    left: 0
    top: 0
    display: inline-block
    opacity: 0
    position: absolute

    &.active
      position: relative
      opacity: 1
      animation: slide-in .3s

    &.hidden
      animation: slide-out .3s

@keyframes slide-in
  0%
    opacity: 0
    transform: translateY(-100%)

  60%
    opacity: 1
    transform: translateY(20%)

  100%
    opacity: 1
    transform: translateY(0)

@keyframes slide-out
  0%
    opacity: 1
    transform: translateY(0)

  60%
    opacity: 0
    transform: translateY(120%)

  100%
    opacity: 0
    transform: translateY(100%)
